@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@font-face {
  font-family: LoveSamantha;
  src: url(assets/fonts/LoveSamantha.otf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  overflow: hidden;
}

img {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  backdrop-filter: blur(10px);
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  max-height: 100%;
  max-width: 100%;
  width: 65%;
}

.card h1 {
  font-family: "LoveSamantha", cursive;
  font-size: 3rem;
  color: #ffd93d;
}

p {
  color: #faf9f6;
  font-size: 14px;
}

.card h2 {
  font-size: 1.2rem;
  color: #ffd93d;
}

.school p {
  position: fixed;
  bottom: 0;
  color: #ffd93d;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  width: 100%;
  text-align: center;
  font-size: 14px;
  margin-bottom: 5px;
}

@media (min-aspect-ratio: 16/9) {
  .background-clip {
    width: 100%;
    height: auto;
  }
}
